<% layout("layouts/boilerplate") %>

<dv class="row">
    <dv class="col-10 offset-1">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">ERROR</h4>
            <p><%= err.message %></p>
            <hr>
            <p class="mb-0"><%= err.stack %></p>
        </div>
    </dv>
</dv>