<% layout("layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mb-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <%- include("../partials/flash") %>

                    <h1>Registration Form</h1>
                    
                    <form class="needs-validation" action="/register" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email: </label>
                            <input class="form-control" id="email" type="email" name="email" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid email.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username: </label>
                            <input class="form-control" id="username" type="text" name="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a unique username.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" id="password" type="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a password.
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success d-grid gap-1">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>